@model IEnumerable<WebBanSach.Models.ChucVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Admin">Tổng quan</a>
    </li>
    <li class="breadcrumb-item active">Chức vụ</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Bảng Quản Lí Chức Vụ
    </div>

    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Admin/ChucVus/Create" class="btn btn-info" role="button">Thêm chức vụ</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Chức vụ
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th>Chức năng</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenChucVu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoTa)
                        </td>
                        <td>
                            <a href="/Admin/ChucVus/Edit/@item.MaChucVu"><i class="fas fa-fw fa-pencil-alt"></i></a>
                            <a class="xoaChucVu" href="@Url.Action("Delete", new { id = item.MaChucVu })" ><i class="fas fa-fw fa-trash-alt" style="color: red"></i></a>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Cập nhật ngày @DateTime.Now</div>
</div>


    



