@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/indexcss")
    @Scripts.Render("~/bundles/indexjs")

</head>
<body>
    <div class="jumbotron">
        <hgroup>
            <h1>Lỗi.</h1>
            <h2>Sorry, The Page, You are Looking for is not found. </h2>
            <br />

            <a href="javascript:history.go(-1)" class="btn font_secondary" style="width: 180px; float: left; margin-right: 10px;    background-color: #1d7eb6; color: #fff;">Quay lại</a><br />
        </hgroup>
    </div>
</body>
</html>
